@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  font-family: "Roboto", sans-serif;
}

/* header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: white;
}

header img {
  max-width: 60vw;
}

/* main {
  display: flex;
} */

#mainImg1 {
  width: 100vw;
}

/* filter */

#filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

#filter select {
  background-color: rgb(176, 173, 173);
  border: none;
  border-radius: 80px;
  color: white;
  width: 40vw;
  padding: 5px;
  text-align: center;
  margin: 0px 10px;
}

#filter form {
  margin: 20px;
}

#filter button {
  padding: 10px;
  background-color: rgb(176, 173, 173);
  border: none;
  border-radius: 80px;
  color: white;
  align-self: center;
}

#filter label {
  width: 40vw;
}

/* results  */

#resultsTitle {
  display: flex;
  align-self: center;
}

img {
  width: 300px;
}

/* featured deals */

/* #featured-deals {
  display: flex;
} */

/* BurgerMenu.css */
.burger-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.burger-icon {
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  border: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 60px;
  right: 20px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.open .menu-items {
  opacity: 1;
  pointer-events: auto;
}

.menu-items Link {
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

footer {
  height: 40vh;
  background-color: grey;
  padding: 20px;
}

#linksFooter {
  display: flex;
  flex-direction: column;
}

Link {
  margin: 10px;
}
