@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */

colours {
  color: #f5f1ec;
  color: #e3edf7;
}

* {
  font-family: "Roboto", sans-serif;
}

#root {
  overflow-x: hidden;
  margin: 0;
  max-width: 100vw;
  padding: 0;
}

h1,
h2 {
  text-align: center;
}

/* header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 10vh;
  background-color: white;
}

header img {
  max-width: 60vw;
}

/* BurgerMenu.css */
.burger-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.burger-icon {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.menu-items {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #e3edf7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 40px;
  right: 8.5px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  font-size: 20px;
  line-height: 32px;
}

.open .menu-items {
  opacity: 1;
  pointer-events: auto;
}

.menu-items Link {
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

#mainImg1 {
  width: 100vw;
}

/* filter */

#filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

#filter select {
  background-color: rgb(176, 173, 173);
  border: none;
  border-radius: 80px;
  color: white;
  width: 40vw;
  padding: 5px;
  text-align: center;
  margin: 0px 10px;
}

#filter form {
  margin: 20px;
}

#filter button {
  padding: 10px;
  background-color: rgb(176, 173, 173);
  border: none;
  border-radius: 80px;
  color: white;
  align-self: center;
}

#filter label {
  width: 40vw;
}

/* results  */

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resultsTitle {
  display: flex;
  align-self: center;
}

.resultDiv {
  border-radius: 10px;
  background-color: #e3edf7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85vw;
  margin: 10px 0px;
  text-align: center;
  padding: 1%;
}

.resultDiv a {
  padding: 10px;
  text-decoration: none;
  align-self: center;
  text-align: center;
  color: #333;
}

.resultDiv a :visited {
  color: #3e4155;
}

.result-img {
  max-width: 300px;
}

.result-logo {
  max-width: 50vw;
}

#fave-button {
  margin: 30px;
}

/* featured deals */

.slick-initialized {
  display: flex;
  width: 100vw;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

.slick-initialized img {
  max-height: 40vh;
}

.slick-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ccc;
}

.slick-slider img {
  max-width: 90vw;
  height: max-content;
  margin: 0 auto;
}

#before-footer {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.go-to-faves-btn {
  display: flex;
  margin: 30px;
}

footer {
  width: 100vw;
  background-color: white;
  color: black;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#linksFooter {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

footer img {
  width: 200px;
}

footer p {
  margin-top: 10px;
}

.about-box {
  margin: 5px;
  margin-bottom: 15px;
  background-color: #f5f1ec;
  border-radius: 10px;
  padding: 10px;
  text-align: justify;
}

#andy {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffee93;
}

#susie {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffc09f;
}

#luke {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #adf7b6;
}

#cordelia {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #79addc;
}

/* Favourites */

#fav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fav-logo {
  height: 100px;
}

#fav-image {
  height: 200px;
}

#remove-fav {
  margin: 20px 0px;
}

form {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

label,
input,
textarea {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.form-text {
  text-align: justify;
}

#form-img {
  display: flex;
  max-width: 100vw;
  padding-block: 30px;
}

.form-text h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
